a{
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#cardHeader{
    background-color: lightgray;
}
#cardBody{
    background-color: lightgray;
}
#cardFooter{
    background-color: lightgray;
}
#closeIcon {
    display: none;
}
.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    cursor: pointer;
}
.menu {
    position: fixed;
    transform: translateY(-1000%);
    transition: transform 0.5s;
    //style elements below don't touch above
    left: 20;
    right: 0;
    z-index: 99;
    background: white;
    border-style: solid;
    border-color: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
  }

.showMenu {
    transform: translateY(0);
}

.middle {
    margin: auto;
    max-width: 70%; 
}

.background-black {
    background-color: black;
} 
.background-lightgray {
    background-color: lightgray;
} 

.big-text {
    font-size: 2em;
}

.medium-text {
    font-size: 1.5em;
}

.ewu-red-text {
    color: #A10022;
}

.white-text {
    color: white;
}

.rounded { border-radius: .25em; -webkit-border-radius: .25em; -moz-border-radius: .25em; -ms-border-radius: .25em; -o-border-radius: .25em; }

.gradient {
    background-image: linear-gradient(to right,  rgb(0, 138, 150), rgb(1, 148, 250));
}

/* ------------------------------------------ Sizing ------------------------------------ */

/* XS */
@media only screen and (max-width: 575px) {
    html {
		font-size: 10px;
	}
    div.middle {
        margin: auto;
        max-width: 100%; 
    }
}

/* SM - Mobile L */
@media only screen and (min-width: 576px) {
	html {
		font-size: 12px;
	}
    div.middle {
        margin: auto;
        max-width: 100%; 
    }
}

/* M - Tablet */
@media only screen and (min-width: 768px) {
	html {
		font-size: 16px;
	}
    div.middle {
        margin: auto;
        max-width: 70%; 
    }
}

/* L - Laptop */
@media only screen and (min-width: 992px) {
	html {
		font-size: 20px;
	}
    div.middle {
        margin: auto;
        max-width: 70%; 
    }
}

/* XL - Laptop L*/
@media only screen and (min-width: 1200px) {
	html {
		font-size: 24px;
	}
    div.middle {
        margin: auto;
        max-width: 70%; 
    }
}

/* 4K */
@media only screen and (min-width: 1900px) {
	html {
		font-size: 38px;
	}
    div.middle {
        margin: auto;
        max-width: 50%; 
    }
}