ul {
    list-style-type: none;
}

h2 {
    margin: 0;
}

br {
    display: block;
    content: "";
    margin: 0.2em;
}

button {
    opacity: 1;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.aTagButton:hover {
    cursor: pointer;
    opacity: 0.6;
    background-image: linear-gradient(to right, rgb(0, 138, 150), rgb(1, 148, 250));
}

a:visited {
    text-decoration: none;
    color: black;
}

#menuIcon {
    display: inline;
}

#card {
    border: 0.08em solid black;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}

#cardHeader {
    background-color: lightgray;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

#cardBody {
    background-color: white;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

#cardFooter {
    background-color: white;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: .2em lightgray;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
}

#closeIcon {
    display: none;
}

.aTagButton {
    text-decoration: none;
    border-style: solid;
    border-width: .15em;
    padding: .70em 1em;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.margin-0 {
    margin: 0;
}

.width-min-max {
    width: auto;
}

.menuItem {
    width: 8rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 0.5rem;

    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.menu {
    position: fixed;
    transform: translateY(-1000rem);
    transition: transform 0.5s;
    left: 40rem;
    z-index: 99;
    background: white;
    border: .2em solid gray;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.showMenu {
    transform: translate(-75%, 15%);
}

.background-black {
    background-color: black;
}

.background-lightgray {
    background-color: lightgray;
}

.big-text {
    font-size: 2em;
}

.medium-text {
    font-size: 1.5em;
}

.ewu-red-text {
    color: #A10022;
    padding-left: 1rem;
}

.white-text {
    color: white;
}

.tall {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.rounded {
    border-radius: .25em;
}

.gradient {
    background-image: linear-gradient(to right, rgb(0, 138, 150), rgb(1, 148, 250));
}

/* ------------------------------------------ Sizing ------------------------------------ */

/* <296 */
@media only screen and (max-width: 296px) {
    html {
        font-size: 4px;
    }

    .middle {
        margin: auto;
        max-width: 100%;
    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 2%;
        right: 2%;
    }

    .showMenu {
        transform: translate(-20%, 5%);
    }
}


/* 296 */
@media only screen and (min-width: 296px) {
    html {
        font-size: 10px;
    }

    .middle {
        margin: auto;
        max-width: 100%;
    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 2%;
        right: 2%;
    }

    .showMenu {
        transform: translate(-10%, 5%);
    }
}

/* 576 */
@media only screen and (min-width: 576px) {
    html {
        font-size: 12px;
    }

    .middle {
        margin: auto;
        max-width: 100%;
    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 2%;
        right: 2%;
    }

    .showMenu {
        transform: translate(-10%, 5%);
    }
}

/* 768 */
@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .middle {
        margin: auto;
        max-width: 70%;
    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 2%;
        right: 20%;
    }

    .showMenu {
        transform: translate(-90%, 8%);
    }
}

/* 992 */
@media only screen and (min-width: 992px) {
    html {
        font-size: 20px;
    }

    .middle {
        margin: auto;
        max-width: 70%;
    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 2%;
        right: 20%;
    }

    .showMenu {
        transform: translate(-90%, 10%);
    }
}


/* 11k*/
@media only screen and (min-width: 1100px) {
    html {
        font-size: 22px;
    }

    .middle {
        margin: auto;
        max-width: 70%;
    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 2%;
        right: 17%;
    }

    .showMenu {
        transform: translate(-80%, 12%);
    }
}


/* 12k */
@media only screen and (min-width: 1200px) {
    html {
        font-size: 24px;
    }

    .middle {
        margin: auto;
        max-width: 70%;
    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 2%;
        right: 17%;
    }

    .showMenu {
        transform: translate(35%, 12%);
    }
}

/* 16K */
@media only screen and (min-width: 1600px) {
    html {
        font-size: 38px;
    }

    .middle {
        margin: auto;
        max-width: 50%;
    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 2%;
        right: 28%;
    }

    .showMenu {
        transform: translate(-140%, 18%);
    }
}

/* 19K */
@media only screen and (min-width: 1900px) {
    html {
        font-size: 38px;
    }

    .middle {
        margin: auto;
        max-width: 50%;
    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 2%;
        right: 28%;
    }

    .showMenu {
        transform: translate(-122.5%, 18%);
    }
}

/* 23K */
@media only screen and (min-width: 2400px) {
    html {
        font-size: 42px;
    }

    .middle {
        margin: auto;
        max-width: 50%;
    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 2%;
        right: 28%;
    }

    .showMenu {
        transform: translate(-140%, 18%);
    }
}