div {
    padding: 2px;
    margin: 3px;
    border: 2px solid black;
}

button:hover {
    padding: 3px;

}

div.middle {
    text-align: center;
    margin: auto;
    max-width: 70%; 
}

#idname {
    color: brown;
}


table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  tbody {
    background-color: lightgray; 
  }
  tfoot {
    background-color: darkgray;
  }


/* ------------------------------------------ Sizing ------------------------------------ */

/* XS */
@media only screen and (max-width: 575px) {
    html {
		font-size: 10px;
	}
    div.middle {
        margin: auto;
        max-width: 100%; 
    }
}

/* SM - Mobile L */
@media only screen and (min-width: 576px) {
	html {
		font-size: 12px;
	}
    div.middle {
        margin: auto;
        max-width: 100%; 
    }
}

/* M - Tablet */
@media only screen and (min-width: 768px) {
	html {
		font-size: 16px;
	}
    div.middle {
        margin: auto;
        max-width: 70%; 
    }
}

/* L - Laptop */
@media only screen and (min-width: 992px) {
	html {
		font-size: 20px;
	}
    div.middle {
        margin: auto;
        max-width: 70%; 
    }
}

/* XL - Laptop L*/
@media only screen and (min-width: 1200px) {
	html {
		font-size: 24px;
	}
    div.middle {
        margin: auto;
        max-width: 70%; 
    }
}

/* 4K */
@media only screen and (min-width: 1900px) {
	html {
		font-size: 38px;
	}
    div.middle {
        margin: auto;
        max-width: 50%; 
    }
}